body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,97,134,1) 100%);
    color:white;
    text-align: center;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}